<settings>
    <setting id="arteFull" value="false" />
    <setting id="arteQuality" value="HD" />
    <setting id="ctlgRefresh" value="60" />
    <setting id="dispallocine" value="2" />
    <setting id="disparte" value="3" />
    <setting id="dispbfmbusiness" value="4" />
    <setting id="dispbfmtv" value="5" />
    <setting id="dispcanalu" value="6" />
    <setting id="dispcherie25" value="7" />
    <setting id="dispcplus" value="8" />
    <setting id="dispd17" value="9" />
    <setting id="dispd8" value="10" />
    <setting id="dispfavourites" value="0" />
    <setting id="dispfrance2" value="11" />
    <setting id="dispfrance24" value="12" />
    <setting id="dispfrance3" value="13" />
    <setting id="dispfrance4" value="14" />
    <setting id="dispfrance5" value="15" />
    <setting id="dispfranceo" value="16" />
    <setting id="dispgulli" value="17" />
    <setting id="disphd1" value="18" />
    <setting id="disphistoire" value="19" />
    <setting id="dispitele" value="20" />
    <setting id="displa_1ere" value="21" />
    <setting id="displcp" value="22" />
    <setting id="displequipefr" value="23" />
    <setting id="dispmostviewed" value="1" />
    <setting id="dispnrj12" value="24" />
    <setting id="dispnt1" value="25" />
    <setting id="disprts" value="26" />
    <setting id="disptf1" value="27" />
    <setting id="disptmc" value="28" />
    <setting id="disptntv" value="29" />
    <setting id="disptoutv" value="30" />
    <setting id="disptv5af" value="31" />
    <setting id="disptv5monde" value="1" />
    <setting id="disptvbreizh" value="32" />
    <setting id="dispushuaiatv" value="33" />
    <setting id="dispvetele" value="1" />
    <setting id="dispvtele" value="35" />
    <setting id="dispwattv" value="34" />
    <setting id="france24Quality" value="mp4-mbr" />
    <setting id="france2Quality" value="m3u8-download" />
    <setting id="france3Quality" value="m3u8-download" />
    <setting id="france4Quality" value="m3u8-download" />
    <setting id="france5Quality" value="m3u8-download" />
    <setting id="franceoQuality" value="m3u8-download" />
    <setting id="hd1Bonus" value="true" />
    <setting id="la_1ereQuality" value="m3u8-download" />
    <setting id="lequipefrQuality" value="HD" />
    <setting id="nt1Bonus" value="true" />
    <setting id="tf1Bonus" value="true" />
    <setting id="tf1ForceHD" value="false" />
    <setting id="tf1ThemePages" value="10" />
    <setting id="tmcBonus" value="true" />
    <setting id="tntvQuality" value="mp4" />
</settings>
