<settings>
    <setting id="HidePowerButton" type="bool">false</setting>
    <setting id="ShowFavoritesButton" type="bool">true</setting>
    <setting id="AutoScroll" type="bool">true</setting>
    <setting id="FirstTimeRun" type="bool">true</setting>
    <setting id="Show_SlideShow_Paused" type="bool">false</setting>
    <setting id="WindowedTrailer" type="bool">false</setting>
    <setting id="HideFilenameFlagging" type="bool">false</setting>
    <setting id="ActivateTvTunes" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">false</setting>
    <setting id="HasRoot" type="bool">false</setting>
    <setting id="HideVisualizationFanart" type="bool">false</setting>
    <setting id="1EnableShutdownMenu" type="bool">true</setting>
    <setting id="1PowerDoesntLogOff" type="bool">true</setting>
    <setting id="1DisableShutdownButton" type="bool">false</setting>
    <setting id="1DisableShutdownTimerButton" type="bool">false</setting>
    <setting id="1DisableSuspendButton" type="bool">false</setting>
    <setting id="1DisableHibernateButton" type="bool">false</setting>
    <setting id="1DisableRebootButton" type="bool">false</setting>
    <setting id="View508HideInfo" type="bool">false</setting>
    <setting id="AnimeWindowXMLDialogClose" type="bool">false</setting>
    <setting id="ShowWeatherFanart" type="bool">false</setting>
    <setting id="WeatherScript_Enable" type="bool">false</setting>
    <setting id="UseCustomBackground" type="bool">true</setting>
    <setting id="HideBackGroundFanart" type="bool">false</setting>
    <setting id="ShowBackgroundVideo" type="bool">true</setting>
    <setting id="ShowBackgroundVis" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedVideo" type="bool">false</setting>
    <setting id="HomepageHideRecentlyAddedAlbums" type="bool">false</setting>
    <setting id="homepageWeatherinfo" type="bool">false</setting>
    <setting id="homepageMusicinfo" type="bool">false</setting>
    <setting id="homepageVideoinfo" type="bool">false</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">false</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">false</setting>
    <setting id="HomeMenuNoWeatherButton" type="bool">false</setting>
    <setting id="HomeMenuNoPicturesButton" type="bool">false</setting>
    <setting id="HomeMenuNoVideosButton" type="bool">false</setting>
    <setting id="HomeMenuNoMusicButton" type="bool">false</setting>
    <setting id="HomeMenuNoAppsButton" type="bool">true</setting>
    <setting id="HomeMenuNoProgramsButton" type="bool">false</setting>
    <setting id="View509HideInfo" type="bool">false</setting>
    <setting id="PictureAddonSet.7.Label" type="string">[COLOR dodgerblue]Ba[COLOR lightblue]ss[/COLOR]Fox[/COLOR]</setting>
    <setting id="CustomBackgroundPath" type="string">/home/osmc/.kodi/media/the_avengers_4-wallpaper-1920x1080.jpg</setting>
    <setting id="VideoAddonSet.1.Label" type="string">123Movies</setting>
    <setting id="VideoAddonSet.1.icon" type="string">/home/osmc/.kodi/addons/plugin.video.md123movies/icon.png</setting>
    <setting id="VideoAddonSet.1.Path" type="string">RunAddon(plugin.video.md123movies)</setting>
    <setting id="VideoAddonSet.2.Label" type="string">Phoenix</setting>
    <setting id="VideoAddonSet.2.icon" type="string">/home/osmc/.kodi/addons/plugin.video.phstreams/icon.png</setting>
    <setting id="PictureAddonSet.7.icon" type="string">/home/osmc/.kodi/addons/plugin.video.bassfox/icon.png</setting>
    <setting id="VideoAddonSet.2.Path" type="string">RunAddon(plugin.video.phstreams)</setting>
    <setting id="VideoAddonSet.3.Label" type="string">Exodus</setting>
    <setting id="VideoAddonSet.3.icon" type="string">/home/osmc/.kodi/addons/plugin.video.exodus/icon.png</setting>
    <setting id="VideoAddonSet.3.Path" type="string">RunAddon(plugin.video.exodus)</setting>
    <setting id="VideoAddonSet.4.Label" type="string">Velocity</setting>
    <setting id="VideoAddonSet.4.icon" type="string">/home/osmc/.kodi/addons/plugin.video.velocity/icon.png</setting>
    <setting id="VideoAddonSet.4.Path" type="string">RunAddon(plugin.video.velocity)</setting>
    <setting id="VideoAddonSet.5.Label" type="string">iSTREAM</setting>
    <setting id="VideoAddonSet.5.icon" type="string">/home/osmc/.kodi/addons/script.icechannel/icon.png</setting>
    <setting id="VideoAddonSet.5.Path" type="string">RunAddon(script.icechannel)</setting>
    <setting id="VideoAddonSet.6.Label" type="string">SportsAccess</setting>
    <setting id="VideoAddonSet.6.icon" type="string">/home/osmc/.kodi/addons/plugin.video.sportsaccess/icon.png</setting>
    <setting id="VideoAddonSet.6.Path" type="string">RunAddon(plugin.video.sportsaccess)</setting>
    <setting id="ProgramAddonSet.1.Label" type="string">1Channel</setting>
    <setting id="ProgramAddonSet.1.icon" type="string">/home/osmc/.kodi/addons/1Channel-master/icon.png</setting>
    <setting id="ProgramAddonSet.1.Path" type="string">RunAddon(plugin.video.1channel)</setting>
    <setting id="ProgramAddonSet.2.Label" type="string">Icefilms</setting>
    <setting id="ProgramAddonSet.2.icon" type="string">/home/osmc/.kodi/addons/plugin.video.icefilms/icon.png</setting>
    <setting id="ProgramAddonSet.2.Path" type="string">RunAddon(plugin.video.icefilms)</setting>
    <setting id="ProgramAddonSet.3.Label" type="string">[B][I][COLOR red]DNA TV[/COLOR] [COLOR lime]PRO[/COLOR][/I][/B]</setting>
    <setting id="ProgramAddonSet.3.icon" type="string">/home/osmc/.kodi/addons/plugin.video.dnatv/icon.png</setting>
    <setting id="ProgramAddonSet.3.Path" type="string">RunAddon(plugin.video.dnatv)</setting>
    <setting id="ProgramAddonSet.4.Label" type="string">MaximumTv</setting>
    <setting id="ProgramAddonSet.4.icon" type="string">/usr/share/kodi/addons/service.cloudword.settings/icon.png</setting>
    <setting id="ProgramAddonSet.4.Path" type="string">RunAddon(service.cloudword.settings)</setting>
    <setting id="ProgramAddonSet.5.Label" type="string">Veetle</setting>
    <setting id="ProgramAddonSet.5.icon" type="string">/home/osmc/.kodi/addons/plugin.video.veetle/icon.png</setting>
    <setting id="ProgramAddonSet.5.Path" type="string">RunAddon(plugin.video.veetle)</setting>
    <setting id="ProgramAddonSet.6.Label" type="string">Navi-X</setting>
    <setting id="ProgramAddonSet.6.icon" type="string">/home/osmc/.kodi/addons/script.navi-x/icon.png</setting>
    <setting id="ProgramAddonSet.6.Path" type="string">RunAddon(script.navi-x)</setting>
    <setting id="ProgramAddonSet.7.Label" type="string">My OSMC</setting>
    <setting id="ProgramAddonSet.7.icon" type="string">/usr/share/kodi/addons/service.osmc.settings/icon.png</setting>
    <setting id="ProgramAddonSet.7.Path" type="string">RunAddon(service.osmc.settings)</setting>
    <setting id="AppAddonSet.1.Label" type="string"></setting>
    <setting id="AppAddonSet.1.icon" type="string"></setting>
    <setting id="AppAddonSet.1.Path" type="string">RunAddon()</setting>
    <setting id="AppAddonSet.2.Label" type="string"></setting>
    <setting id="AppAddonSet.2.icon" type="string"></setting>
    <setting id="AppAddonSet.2.Path" type="string"></setting>
    <setting id="AppAddonSet.3.Label" type="string"></setting>
    <setting id="AppAddonSet.3.icon" type="string"></setting>
    <setting id="AppAddonSet.3.Path" type="string"></setting>
    <setting id="AppAddonSet.4.Label" type="string"></setting>
    <setting id="AppAddonSet.4.icon" type="string"></setting>
    <setting id="AppAddonSet.4.Path" type="string"></setting>
    <setting id="AppAddonSet.5.Label" type="string"></setting>
    <setting id="AppAddonSet.5.icon" type="string"></setting>
    <setting id="AppAddonSet.5.Path" type="string"></setting>
    <setting id="AppAddonSet.6.Label" type="string"></setting>
    <setting id="AppAddonSet.6.icon" type="string"></setting>
    <setting id="AppAddonSet.6.Path" type="string"></setting>
    <setting id="AppAddonSet.7.Label" type="string"></setting>
    <setting id="AppAddonSet.7.icon" type="string"></setting>
    <setting id="AppAddonSet.7.Path" type="string"></setting>
    <setting id="UsrSelectAddon" type="string">service.cloudword.settings</setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="Home_Custom_Back_TV_Folder" type="string"></setting>
    <setting id="WeatherFanartDir" type="string"></setting>
    <setting id="WeatherScript_Label" type="string"></setting>
    <setting id="VideoAddonSet.7.Label" type="string">M4U</setting>
    <setting id="VideoAddonSet.7.icon" type="string">/home/osmc/.kodi/addons/plugin.video.mdm4u/icon.png</setting>
    <setting id="VideoAddonSet.7.Path" type="string">RunAddon(plugin.video.mdm4u)</setting>
    <setting id="MusicAddonSet.1.Label" type="string">Movie Hut</setting>
    <setting id="MusicAddonSet.1.icon" type="string">/home/osmc/.kodi/addons/plugin.video.moviehut/icon.png</setting>
    <setting id="MusicAddonSet.1.Path" type="string">RunAddon(plugin.video.moviehut)</setting>
    <setting id="MusicAddonSet.2.Label" type="string">XMovies8</setting>
    <setting id="MusicAddonSet.2.icon" type="string">/home/osmc/.kodi/addons/plugin.video.xmovies8/icon.png</setting>
    <setting id="MusicAddonSet.2.Path" type="string">RunAddon(plugin.video.xmovies8)</setting>
    <setting id="MusicAddonSet.3.Label" type="string">MP3 Streams</setting>
    <setting id="MusicAddonSet.3.icon" type="string">/home/osmc/.kodi/addons/plugin.audio.mp3streams/icon.png</setting>
    <setting id="MusicAddonSet.3.Path" type="string">RunAddon(plugin.audio.mp3streams)</setting>
    <setting id="MusicAddonSet.4.Label" type="string">Pro Sport</setting>
    <setting id="MusicAddonSet.4.icon" type="string">/home/osmc/.kodi/addons/plugin.video.prosport/icon.png</setting>
    <setting id="PictureAddonSet.5.icon" type="string">/home/osmc/.kodi/addons/plugin.video.Stallion.IPTV.2.5/icon.png</setting>
    <setting id="PictureAddonSet.5.Path" type="string">RunAddon(plugin.video.Stallion-IPTV)</setting>
    <setting id="PictureAddonSet.6.Label" type="string">TV BOX</setting>
    <setting id="PictureAddonSet.6.icon" type="string">/home/osmc/.kodi/addons/tvbox-master/icon.png</setting>
    <setting id="PictureAddonSet.6.Path" type="string">RunAddon(org.harddevelop.kodi.tv)</setting>
    <setting id="MusicAddonSet.4.Path" type="string">RunAddon(plugin.video.prosport)</setting>
    <setting id="PictureAddonSet.7.Path" type="string">RunAddon(plugin.video.bassfox)</setting>
    <setting id="MusicAddonSet.5.Label" type="string">PubFilm</setting>
    <setting id="MusicAddonSet.5.icon" type="string">/home/osmc/.kodi/addons/plugin.video.mdpubfilm/icon.png</setting>
    <setting id="MusicAddonSet.5.Path" type="string">RunAddon(plugin.video.mdpubfilm)</setting>
    <setting id="MusicAddonSet.6.Label" type="string">VidTime</setting>
    <setting id="MusicAddonSet.6.icon" type="string">/home/osmc/.kodi/addons/plugin.video.VidTime/icon.png</setting>
    <setting id="MusicAddonSet.6.Path" type="string">RunAddon(plugin.video.VidTime)</setting>
    <setting id="MusicAddonSet.7.Label" type="string">DubStop</setting>
    <setting id="MusicAddonSet.7.icon" type="string">/home/osmc/.kodi/addons/plugin.video.dubstop/icon.png</setting>
    <setting id="MusicAddonSet.7.Path" type="string">RunAddon(plugin.video.dubstop)</setting>
    <setting id="PictureAddonSet.1.Label" type="string">BBTS</setting>
    <setting id="PictureAddonSet.1.icon" type="string">/home/osmc/.kodi/addons/plugin.video.bbts/icon.png</setting>
    <setting id="PictureAddonSet.1.Path" type="string">RunAddon(plugin.video.bbts)</setting>
    <setting id="PictureAddonSet.2.Label" type="string">AdryanList</setting>
    <setting id="PictureAddonSet.2.icon" type="string">/home/osmc/.kodi/addons/plugin.video.adryanlist/icon.png</setting>
    <setting id="PictureAddonSet.2.Path" type="string">RunAddon(plugin.video.adryanlist)</setting>
    <setting id="PictureAddonSet.3.Label" type="string">pelisalacarta</setting>
    <setting id="PictureAddonSet.3.icon" type="string">/home/osmc/.kodi/addons/plugin.video.pelisalacarta/icon.png</setting>
    <setting id="PictureAddonSet.3.Path" type="string">RunAddon(plugin.video.pelisalacarta)</setting>
    <setting id="PictureAddonSet.4.Label" type="string">tvalacarta</setting>
    <setting id="PictureAddonSet.4.icon" type="string">/home/osmc/.kodi/addons/plugin.video.tvalacarta/icon.png</setting>
    <setting id="PictureAddonSet.4.Path" type="string">RunAddon(plugin.video.tvalacarta)</setting>
    <setting id="PictureAddonSet.5.Label" type="string">Stallion-IPTV</setting>
</settings>
