<settings>
    <setting id="active_portal" value="0" />
    <setting id="connection_timeout" value="24" />
    <setting id="device_id2_0" value="" />
    <setting id="device_id2_1" value="" />
    <setting id="device_id2_2" value="" />
    <setting id="device_id2_3" value="" />
    <setting id="device_id2_4" value="" />
    <setting id="device_id_0" value="b827ebcf063a" />
    <setting id="device_id_1" value="" />
    <setting id="device_id_2" value="" />
    <setting id="device_id_3" value="" />
    <setting id="device_id_4" value="" />
    <setting id="guide_cache_0" value="true" />
    <setting id="guide_cache_1" value="true" />
    <setting id="guide_cache_2" value="true" />
    <setting id="guide_cache_3" value="true" />
    <setting id="guide_cache_4" value="true" />
    <setting id="guide_cache_hours_0" value="24" />
    <setting id="guide_cache_hours_1" value="24" />
    <setting id="guide_cache_hours_2" value="24" />
    <setting id="guide_cache_hours_3" value="24" />
    <setting id="guide_cache_hours_4" value="24" />
    <setting id="guide_preference_0" value="3" />
    <setting id="guide_preference_1" value="0" />
    <setting id="guide_preference_2" value="0" />
    <setting id="guide_preference_3" value="0" />
    <setting id="guide_preference_4" value="0" />
    <setting id="login_0" value="831218519254" />
    <setting id="login_1" value="" />
    <setting id="login_2" value="" />
    <setting id="login_3" value="" />
    <setting id="login_4" value="" />
    <setting id="mac_0" value="00:1A:78:0E:12:50" />
    <setting id="mac_1" value="00:1A:79:00:00:00" />
    <setting id="mac_2" value="00:1A:79:00:00:00" />
    <setting id="mac_3" value="00:1A:79:00:00:00" />
    <setting id="mac_4" value="00:1A:79:00:00:00" />
    <setting id="password_0" value="831218519254" />
    <setting id="password_1" value="" />
    <setting id="password_2" value="" />
    <setting id="password_3" value="" />
    <setting id="password_4" value="" />
    <setting id="sep1" value="" />
    <setting id="sep1_0" value="" />
    <setting id="sep1_1" value="" />
    <setting id="sep1_2" value="" />
    <setting id="sep1_3" value="" />
    <setting id="sep1_4" value="" />
    <setting id="sep2_0" value="" />
    <setting id="sep2_1" value="" />
    <setting id="sep2_2" value="" />
    <setting id="sep2_3" value="" />
    <setting id="sep2_4" value="" />
    <setting id="sep3_0" value="" />
    <setting id="sep3_1" value="" />
    <setting id="sep3_2" value="" />
    <setting id="sep3_3" value="" />
    <setting id="sep3_4" value="" />
    <setting id="sep4_0" value="" />
    <setting id="sep4_1" value="" />
    <setting id="sep4_2" value="" />
    <setting id="sep4_3" value="" />
    <setting id="sep4_4" value="" />
    <setting id="serial_number_0" value="123456P654321" />
    <setting id="serial_number_1" value="" />
    <setting id="serial_number_2" value="" />
    <setting id="serial_number_3" value="" />
    <setting id="serial_number_4" value="" />
    <setting id="server_0" value="http://portal.iptvprivateserver.tv/stalker_portal/c/" />
    <setting id="server_1" value="127.0.0.1" />
    <setting id="server_2" value="127.0.0.1" />
    <setting id="server_3" value="127.0.0.1" />
    <setting id="server_4" value="127.0.0.1" />
    <setting id="signature_0" value="" />
    <setting id="signature_1" value="" />
    <setting id="signature_2" value="" />
    <setting id="signature_3" value="" />
    <setting id="signature_4" value="" />
    <setting id="time_zone_0" value="Europe/Kiev" />
    <setting id="time_zone_1" value="Europe/Kiev" />
    <setting id="time_zone_2" value="Europe/Kiev" />
    <setting id="time_zone_3" value="Europe/Kiev" />
    <setting id="time_zone_4" value="Europe/Kiev" />
    <setting id="token_0" value="" />
    <setting id="token_1" value="" />
    <setting id="token_2" value="" />
    <setting id="token_3" value="" />
    <setting id="token_4" value="" />
    <setting id="xmltv_path_0" value="" />
    <setting id="xmltv_path_1" value="" />
    <setting id="xmltv_path_2" value="" />
    <setting id="xmltv_path_3" value="" />
    <setting id="xmltv_path_4" value="" />
    <setting id="xmltv_scope_0" value="0" />
    <setting id="xmltv_scope_1" value="0" />
    <setting id="xmltv_scope_2" value="0" />
    <setting id="xmltv_scope_3" value="0" />
    <setting id="xmltv_scope_4" value="0" />
    <setting id="xmltv_url_0" value="http://epg.ninja/NFPSE.xml" />
    <setting id="xmltv_url_1" value="" />
    <setting id="xmltv_url_2" value="" />
    <setting id="xmltv_url_3" value="" />
    <setting id="xmltv_url_4" value="" />
</settings>
