<settings>
    <setting id="auto-view" value="true" />
    <setting id="autoplay" value="true" />
    <setting id="default-view" value="500" />
    <setting id="default_quality" value="1080p" />
    <setting id="enable_meta" value="true" />
    <setting id="movie-view" value="Thumbnail" />
</settings>
